html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #FFEFF6;
}

#app {
    height: 100vh;
    max-height: 100vh;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
    justify-content: start;
}
